/* COLORS */
:root {
    font-size: 25px;

    --main-bg-color: #000000;
    --main-bg-contrast: #ffffff;
    --secondari-bg-color: #111111;
    --soft-bg-color: #5c5c5c;

    --main-font-color: #ffffff;
    --secondari-font-color: #5c5c5c;
    --soft-font-color: #c5c5c5;

    --red-color: #831010;
    --highlighted-color: #efb71b;
    --darkhighlighted-color: #71571a;

}

/* FONTS */
.super-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--secondari-font-color);
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: var(--main-font-color);
}
.sub-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: var(--highlighted-color);
}
.paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
}
.contrast-paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--soft-font-color);
}

/* STYLES */
#body {
    color: var(--main-font-color);
    background-color: var(--secondari-bg-color);
}
#app {
    width: 85%;
    margin: auto;
    background-color: var(--main-bg-color);

}