<!-- ------------------------ STYLES ------------------------ -->

<style>
    #btnsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #btnsContainer #btnPrev,
    #btnsContainer #btnNext {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.05);
        margin: 10px;
        padding: 5px 10px;
        padding-bottom: 8px;
        border-radius: 20px;
        background: var(--darkhighlighted-color);
        color: var(--soft-font-color);
    }
    #btnsContainer .btn-number button {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(.85);
        margin: 5px;
        padding: 8px 16px;
        border: none;
        border-radius: 50%;
        background: var(--darkhighlighted-color);
    }
    #btnsContainer .btn-number .btn-active {
        transform: scale(.95);
        border: solid 1px white;
        background: var(--highlighted-color);
        color: var(--darkhighlighted-color);
        font-weight: 800;
    }
    #btnsContainer button:hover,
    #btnsContainer #btnPrev:hover,
    #btnsContainer #btnNext:hover {
        transform: scale(1.075);
        transition: .4s ease all;
        background: var(--highlighted-color);
    }
</style>

<!-- ----------------------- COMPONENT ----------------------- -->

<div id="btnsContainer" class="container">
    <button id="btnPrev" class="paragraph">&lt;&lt; prev</button>
        <div id="btn1" class="btn-number"><button id="btn-1" class="paragraph btn-active">1</button></div>
        <div id="btn2" class="btn-number"><button id="btn-2" class="paragraph">2</button></div>
        <div id="btn3" class="btn-number"><button id="btn-3" class="paragraph">3</button></div>
        <div id="btn4" class="btn-number"><button id="btn-4" class="paragraph">4</button></div>
        <div id="btn5" class="btn-number"><button id="btn-5" class="paragraph">5</button></div>
    <button id="btnNext" class="paragraph">next &gt;&gt;</button>
</div>

<script>
    const firstPage = 1;
    const lastPage = 2000;

    let x = 1;
    let a = 2;
    let y = 3;
    let b = 4;
    let z = 5;
    let prev = document.getElementById('btnPrev');
    let btn1 = document.getElementById('btn1');
    let btn2 = document.getElementById('btn2');
    let btn3 = document.getElementById('btn3');
    let btn4 = document.getElementById('btn4');
    let btn5 = document.getElementById('btn5');
    let next = document.getElementById('btnNext');
    let btnActive = document.getElementsByClassName('btn-active')[0];

    /**
     * 
     */
    const handleChangeBtnNumbers = () => {
        btn1.innerHTML = (`<button id="btn-${x}" class="paragraph">${x}</button>`);
        btn2.innerHTML = (`<button id="btn-${a}" class="paragraph">${a}</button>`);
        btn3.innerHTML = (`<button id="btn-${y}" class="paragraph">${y}</button>`);
        btn4.innerHTML = (`<button id="btn-${b}" class="paragraph">${b}</button>`);
        btn5.innerHTML = (`<button id="btn-${z}" class="paragraph">${z}</button>`);
    }

    /**
     * 
     */
     prev.addEventListener('click', () => {
        if( x > firstPage ) {
            x--;
            a--;
            y--;
            b--;
            z--;
            handleChangeBtnNumbers();
        }
        printBtnActive(btnActive);
    }) 

    /**
     * 
     */
     btn1.addEventListener('click', () => {
        const btnToPrint = btn1.firstChild;
        if( x > firstPage + 1 ) {
            x = x - 2;
            a = a - 2;
            y = y - 2;
            b = b - 2;
            z = z - 2;
            handleChangeBtnNumbers();
        }
        printBtnSelected(btnToPrint);
        changePage(btnToPrint);
    })

    /**
     * 
     */
     btn2.addEventListener('click', () => {
        const btnToPrint = btn2.firstChild;
        if( a > firstPage + 1 ) {
            x--;
            a--;
            y--;
            b--;
            z--;
            handleChangeBtnNumbers();
        }
        printBtnSelected(btnToPrint);
        changePage(btnToPrint);
    })

    /**
     * 
     */
     btn3.addEventListener('click', () => {
        const btnToPrint = btn3.firstChild;
        handleChangeBtnNumbers();
        printBtnSelected(btnToPrint);
        changePage(btnToPrint);
    })

        /**
     * 
     */
     btn4.addEventListener('click', () => {
        const btnToPrint = btn4.firstChild;
        if( b < lastPage - 1 ) {
            x++;
            a++;
            y++;
            b++;
            z++;
            handleChangeBtnNumbers();
        }
        printBtnSelected(btnToPrint);
        changePage(btnToPrint);
    })


    /**
     * 
     */
    btn5.addEventListener('click', () => {
        const btnToPrint = btn5.firstChild;
        if( z < lastPage - 1 ) {
            x = x + 2;
            a = a + 2;
            y = y + 2;
            b = b + 2;
            z = z + 2;
        }
        handleChangeBtnNumbers();
        printBtnSelected(btnToPrint);
        changePage(btnToPrint);
    })

    /**
     * 
     */
     next.addEventListener('click', () => {
        //TODO: CAMBIAR POR 999.
        if( z < lastPage ) {
            x++;
            a++;
            y++;
            b++;
            z++;
            handleChangeBtnNumbers();
        }
        printBtnActive(btnActive);
    })

    /**
     * 
     */
    const printBtnActive = (btnActive) => {
        const btnActiveId = btnActive.id;
        if( btnActiveId == 'btn-' + x ) 
            printBtnSelected(btn1.children[0]);  
        if( btnActiveId == 'btn-' + a ) 
            printBtnSelected(btn2.children[0]);  
        if( btnActiveId == 'btn-' + y ) 
            printBtnSelected(btn3.children[0]);  
        if( btnActiveId == 'btn-' + b ) 
            printBtnSelected(btn4.children[0]);  
        if( btnActiveId == 'btn-' + z ) 
            printBtnSelected(btn5.children[0]);
    }    

    /**
     * 
     */
    const printBtnSelected = (btnToPrint) => {
        if ( document.getElementsByClassName('btn-active')[0] ) {
            const currentBtnActive = document.getElementsByClassName('btn-active')[0];
            currentBtnActive.classList.remove('btn-active');
        }
        const newBtnSelected = document.getElementById(btnToPrint.id);
        newBtnSelected.classList.add('btn-active');
        btnActive = newBtnSelected;
    }    

</script>