<!-- ------------------------ STYLES ------------------------ -->

<style>
    .hero-container {
        width: 100%;
        margin-bottom: 40px;
        position: relative;
    }
    .img-container {
        width: 65%;
        display: block;
    }
    #hero-details {
        position: absolute;
        width: 45%;
        top: 5%;
        left: 2.5%;
        z-index: 9;
    }
    #hero-img {
        width: 100%;
    }
    #img-size {
        width: 100%;
        height: auto;
        filter: opacity(0);
    }
</style>

<!-- ----------------------- COMPONENT ----------------------- -->

<div class="hero-container d-flex justify-content-end">
    <!-- HERO-DETAILS -->
    <div id="hero-details">
        <h1 id="hero-title" class="title">Title</h1>
        <h3 id="hero_overview" class="paragraph">Overview</h3>
    </div>

    <!-- HERO-IMG -->
    <div class="img-container">
        <div id="hero-img">
            <img id="img-size" 
                src="https://image.tmdb.org/t/p/w500/56v2KjBlU4XaOv9rVYEQypROD7P.jpg"> 
        </div>
    </div>
</div>